.imageContainer {
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.imageContainer > canvas {
  width: 50%;
}

#renderTime {
  position: absolute;
  z-index: 1;
  top: 65px;
  right: 15px;
}
