.imageContainer {
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.imageContainer > img {
  max-width: 100%;
  max-height: 800px;

  /* fit image */
  object-fit: contain;
}

#renderTime {
  position: absolute;
  z-index: 1;
  top: 65px;
  right: 15px;
}
